fastapi
faker
sqlalchemy
uvicorn
pymssql
numpy
webcolors
pillow
tqdm
pymysql
python-multipart
pytest
pypattyrn
flask
openpyxl
requests
sqlalchemy_utils
https://github.com/a1112/bkjc_database
https://github.com/a1112/bkjc_tool